* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f2f1ff;
}
.container {
  padding: 80px 100px;
  position: relative;
}
.container h1 {
  font-size: 1.8rem;
  color: #fc2222;
}
.container h1::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 90px;
  background-color: #fc2222;
  top: 50px;
  left: 85px;
}
.products-container {
  padding: 50px 0;
}
.products-container h1 {
  color: #000;
  font-size: 2rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 30px 25px;
  }
  .container h1 {
    font-size: 1.8rem;
  }
  .products-container h1 {
    color: #000;
    font-size: 1.9rem;
  }
  .container h1::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: #fc2222;
    top: 15px;
    left: 15px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 25px 10px;
  }
  .container h1 {
    font-size: 1.5rem;
  }
  .products-container h1 {
    color: #000;
    font-size: 1.6rem;
  }
  .container h1::before {
    content: " ";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #fc2222;
    top: 15px;
    left: 6px;
  }
}
.product-items {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.product-item {
  width: 400px;
  height: 490px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 87%);
}
.item-image {
  padding: 15px 0;
  position: relative;
}
.image-icons {
  position: absolute;
  right: 15px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 111;
}
#icon {
  width: 65px;
  height: 65px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
#icon:hover {
  background: #fc2222;
}
#icon i {
  font-size: 30px;
  color: #000;
  cursor: pointer;
}
#icon:hover i {
  color: #fff;
}
.item-image img {
  width: 360px;
  height: 255px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.item-info {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  line-height: 1.5;
}
.item-price {
  color: #fc2222;
}
.item-btn {
  padding: 15px 0;
}
.btn {
  background: #000;
  color: #fff;
  width: 325px;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .product-items {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    justify-content: center;
  }
  .product-item {
    width: 350px;
  }
  .item-image img {
    width: 325px;
  }
}
@media (max-width: 767px) {
  .product-items {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  .product-item {
    width: 300px;
    height: 445px;
  }
  .item-image img {
    width: 275px;
    height: 215px;
  }
  .btn {
    width: 275px;
  }
  #icon {
    width: 45px;
    height: 45px;
  }
  #icon i {
    font-size: 20px;
  }
}
